@import 'breakpoint-sass/stylesheets/breakpoint.scss';

// Fonts
//
// Font declarations

$font-stack-sans-serif: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol";

// Colors
//
// Color system

$dark: #263238;
$grey: #919191;
$primary: #f33d46;
$background: #f7f8f9;
$border: #eee;
$white: #fff;

// Grid system
//
// Variables used for the generating grid classes

$grid-gutters: 2rem;
$grid-columns: 12;
$grid-breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
);


// Header Height
//
// Height of the header
$header-height: 60px;

// Border radius
//
// Theme's default border-radius

$border-radius: 0.25rem;


// Box shadow
//
// Theme's box-shadow

$box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.08);
$box-shadow-hover: 0 10px 20px 0 rgba(0, 0, 0, 0.08);
