@import 'breakpoint-sass/stylesheets/breakpoint.scss';

// Fonts
//
// Font declarations

$font-stack-sans-serif: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol";

// Colors
//
// Color system

$dark: #263238;
$grey: #919191;
$primary: #f33d46;
$background: #f7f8f9;
$border: #eee;
$white: #fff;

$colors: (
  bug: #729f3f,
  dragon: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%),
  fairy: #fdb9e9,
  fire: #fd7d23,
  ghost: #7b62a3,
  ground: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%),
  normal: #a4acaf,
  psychic: #f366b9,
  steel: #9eb7b8,
  dark: #707070,
  electric: #eed536,
  fighting: #d56723,
  flying: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%),
  grass: #9bcc50,
  ice: #51c4e7,
  poison: #b97fc9,
  rock: #a38c21,
  water: #4592c4,
);

// Grid system
//
// Variables used for the generating grid classes

$grid-gutters: 2rem;
$grid-columns: 12;
$grid-breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
);


// Header Height
//
// Height of the header
$header-height: 60px;

// Border radius
//
// Theme's default border-radius

$border-radius: 0.25rem;


// Box shadow
//
// Theme's box-shadow

$box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.08);
$box-shadow-hover: 0 10px 20px 0 rgba(0, 0, 0, 0.08);
