@import 'styles/shared.scss';

.Container,
.Container--fluid {
  padding: 0 $grid-gutters / 2;
  margin: 0 auto;
  width: 100%;
}

@each $prefix, $breakpoint in $grid-breakpoints {
  @each $container-prefix, $width in $container-max-widths {
    @if $prefix == $container-prefix {
      .Container {
        @include breakpoint($breakpoint) {
          max-width: $width;
        }
      }
    }
  }
}
